<div class="cards-scroller">
<div class="card-container" [style.--dominant-color]="dominantColor + 'cc'">
  <div class="meta">
    <img #artistCardImage class="artist-card-image" [src]="artist.imageUrl" alt="{{artist.name}}">
    <div class="info">
      <h3 class="artist-name">{{ artist.name }}</h3>
      <p class="artist-sub">{{ artist.genres?.join(', ') }}</p>
    </div>
  </div>

  <div class="actions">
    <button mat-stroked-button class="btn-del" *ngIf="isAdmin" (click)="confirmDelete()">
      <mat-icon>delete</mat-icon><span>Delete</span>
    </button>
    <button mat-flat-button class="btn-view" (click)="viewArtist()">
      <mat-icon>open_in_new</mat-icon><span>View</span>
    </button>
  </div>
</div>
</div>