.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.top-margin {
    margin-top: 10px;
}

.filter-container {
    width: 20%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.results-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* Left side: artist column */
.artist-column {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow-y: auto;
}

/* Right side: songs and albums stacked */
.song-album-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

h2 {
  font-size: 40px;
  margin-top: 10px;  
}

.center {
    width: fit-content;
    margin: auto
}

.gray {
    color: lightgray;
}

/* Horizontal scroll for songs */
.song-row {
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

/* Horizontal scroll for albums */
.album-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 45vh;
    gap: 10px;
    padding-top: 10px;
}

/* Optional: Style scrollbars */
.scrollable::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
