<div class="container">
    <img class="song-image" src={{song.imageKey}} alt={{song.title}} [class.spinning]="isPlaying">
    <p class="song-name">{{song.title}} by {{song.artistIds}} - {{song.genres}}</p>
    <br>
    <div class="average-rating-display">
        <ng-container *ngIf="song.averageRating !== null && song.ratingCount > 0; else noRating">
            <span class="rating-value">⭐️ {{ song.averageRating | number:'1.2-2' }}/5</span>
            <span class="rating-count"> ({{ song.ratingCount }} ratings)</span>
        </ng-container>
        <ng-template #noRating>
            <span class="no-rating-message">Be the first to rate this song!</span>
        </ng-template>
    </div>
    <audio class="song-player" controls (play)="onPlay()" (pause)="onPause()" [src]="song.audioKey">
        Your browser does not support the audio element.
    </audio>
    <br>
    <br>
    
    <ng-container *ngIf="!isCached; else cachedMessage">
        <a (click)="onDownload()">Download for offline</a>
    </ng-container>
    <ng-template #cachedMessage>
        <p class="downloaded-status">✅ Song is downloaded for offline demo.</p>
    </ng-template>

    <br>

    <ng-container *ngIf="isCached">
        <h3>2. Offline Player (Keširani izvor)</h3>
        <audio class="song-player-cached" controls [src]="cachedAudioSrc">
            Your browser does not support the audio element.
        </audio>
    </ng-container>

    <br>
    <app-rate-content
        [contentType]="'SONG'"
        [contentId]="song.singleId"
        buttonLabel="Rate song"
        (rated)="onSongRated($event)">
    </app-rate-content>
    
    <br>
    <!-- postojeći sadržaj ... -->
    <div class="actions-admin" *ngIf="isAdmin">
        <button mat-raised-button color="primary" (click)="openEditSingle()">Edit Single</button>
    </div>
</div>