<div class="container">
    <img class="song-image" src={{song.imageKey}} alt={{song.title}} [class.spinning]="isPlaying">
    <p class="song-name">{{song.title}} by {{song.artistIds}} - {{song.genres}}</p>
    <audio class="song-player" controls (play)="onPlay()" (pause)="onPause()" [src]="song.audioKey">
        Your browser does not support the audio element.
    </audio>
    <br>
    <a (click)="onDownload()">Download for offline</a>
        <a *ngIf="audioSrc !== song.audioKey" (click)="onRemove()">Remove download</a>
        <audio [src]="audioSrc" controls></audio>
    <br>
    <ng-container *ngIf="song && song.singleId">
        <app-rate-content
            [contentType]="'SONG'"
            [contentId]="song.singleId"
            buttonLabel="Rate song"
            (rated)="onSongRated($event)">
        </app-rate-content>
    </ng-container>
    <br>
    <!-- postojeći sadržaj ... -->
    <div class="actions-admin" *ngIf="isAdmin">
        <button mat-raised-button color="primary" (click)="openEditSingle()">Edit Single</button>
    </div>
</div>