<div class="container">
    <img class="album-image" src={{album.coverKey}} alt={{album.title}} [class.spinning]="isPlaying">
    <p class="album-name">{{album.title}} by {{album.artistIds}} - {{album.genres}}</p>
    <div class="album-player" *ngFor="let single of albumSingles">
        <audio #audioPlayer controls (play)="onPlay(audioPlayer)" (pause)="onPause()" [src]="single.audioKey">
            Your browser does not support the audio element.
        </audio>
    </div>
    <br>
    <app-rate-content
        [contentType]="'ALBUM'"
        [contentId]="album.albumId"       
        buttonLabel="Rate album"
        (rated)="onAlbumRated($event)">
    </app-rate-content>
    <br>
    <div class="actions-admin" *ngIf="isAdmin">
        <button mat-raised-button color="primary" (click)="openEditAlbum()">Edit Album</button>
    </div>
    <br>
</div>
    